/*
	Client : PortfolioMNL 
	Thousand Minds
	Front-end Developer - Jan Harold Diaz
	Last Update - June 2013
	Project Prefix for Classes/IDS - pmnl
*/

@import url('normalize.css');
@import url('multi-select.css');
@import url('icheckSquare/blue.css');
@import url('../js/jquery.switch/jquery.switch.css');
@import url('../js/rhinoslider105/css/rhinoslider-1.05.css');

/*
	Web Fonts
*/
@font-face{font-family: "Eurosti"; src: url('webfonts/Eurosti.eot'); src: local("Eurostile"), url('webfonts/Eurosti.woff') format("woff"), url('webfonts/Eurosti.ttf') format("truetype");}
@font-face{font-family: "bankgothiclightbt"; src: url('webfonts/bankgothiclightbt.eot'); src: local("Bank Gothic Light BT"), url('webfonts/bankgothiclightbt.woff') format("woff"), url('webfonts/bankgothiclightbt.ttf') format("truetype"); } 

	.euroStile{font-family: "Eurosti";}
	.bankGothic{font-family: "bankgothiclightbt";}
		.tAC{text-transform: uppercase;}

/*
	Global Settings
*/
	div,span{-moz-box-sizing:border-box; box-sizing:border-box;}
	a{text-decoration: none; color:#000203;}
	ul,li{list-style: none;}
/* 
	Wraps and Wireframe 
*/
.centerWrap{width:1200px; margin:0px auto 0;}
.innerWrap{width: 1140px; margin: 0 auto;}
.floatWrap{width:1200px; float:left;}
	
	.gBox{float:left; margin:0 10px;}
	.gBox.nm{margin:0;}
	.gfContainer{float:left; width:1140px; margin:0; position: relative; z-index: 1;}
	.lEdge{margin-left:0;}
	.rEdge{margin-right:0;}
	.solid{display: block; height:50px;}
		
		.col_2{width:170px;}
			.col_2_5{width:205px;}
		.col_3{width:265px;}
		.col_4{width:360px;}
		.col_5{width:455px;}
		.col_6{width:550px;}
		.col_7{width:645px;}
		.col_8{width:740px;}
		.col_9{width:835px;}
		.col_10{width:930px;}
		.col_12{width:1140px; margin:0;}
	
/* 
	Main Sections
*/

	/*
	|| Floating Navigation
	*/
	.pmnlFloatNav{position: fixed; top:150px; z-index: 500;}
	.pmnlFloatNav .accountPanel{float:left; width:280px; background: rgba(48,51,101,0.9); padding:20px 20px 10px; margin-left:-280px;}
	.pmnlFloatNav .accountPanel.signedIn{float:left; width:240px; background: rgba(48,51,101,0.9); padding:20px 20px 15px 10px; margin-left:0px; margin-left:-250px;}
		/* Account Panel Forms */
		.accountPanel fieldset{border:none; padding:0; margin:0; display: none;}
		.accountPanel legend{color:#fff; margin-bottom:10px; font-size:20px;}
		.accountPanel input{width:220px; padding:8px 8px; margin:5px 0 10px; border-radius:3px; border:1px solid #fff; font-family: 'bankgothiclightbt',sans-serif; color:#666; }
		.accountPanel input.error{border:1px solid #d42227;}
		.accountPanel input[type="checkbox"]{float:left; width:auto; margin:9px 5px 0 0;}
		.accountPanel label{float:left; margin-top:5px; font-size:14px; color:#fff;}
		.accountPanel .inputRow{float:left; width:240px; margin-bottom:10px;}
		.accountPanel .signupForm .inputRow label{float:left; width:200px !important; margin-bottom:10px;}
			.signupForm h3{font-family: 'Eurosti'; color:#fff; font-weight: normal; font-size:1em; text-align: center; margin:0 0 5px;}
		.accountPanel a{font-size:14px; color:#00cebb;}
		.accountPanel a:hover{color:#fff;}
			.accountPanel a.fp{float:right; margin:6px 5px 0 0;}
			
			.accountPanel button.join{background:#00cebb url(../images/icons/next.png) no-repeat 95% 6px;}
			.accountPanel button.signin{background:#00aeef url(../images/icons/user.png) no-repeat 95% 6px;}
			
			.accountPanel a.llinked{float:left; margin:12px 5px 0 0; background: #52bdef; background: -moz-linear-gradient(top,  #52bdef 1%, #046ea8 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#52bdef), color-stop(100%,#046ea8)); background: -webkit-linear-gradient(top,  #52bdef 1%,#046ea8 100%); background: -o-linear-gradient(top,  #52bdef 1%,#046ea8 100%); background: -ms-linear-gradient(top,  #52bdef 1%,#046ea8 100%);  background: linear-gradient(to bottom,  #52bdef 1%,#046ea8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52bdef', endColorstr='#046ea8',GradientType=0 ) ;  color:#fff; padding: 10px 0px 10px 0px; font-size:12px; border-radius: 3px; width: 238px; text-transform: none; text-align: center; position:relative;}
			.accountPanel a.llinked img{position: absolute; left:8px; top:0px; border-right:1px solid #93caf0; padding:5px 8px 7px 0;} 

			.accountPanel button{float:left; background:#00aeef; border-radius: 3px; border:none; cursor: pointer; color:#fff; display:block; padding:8px 0px 6px 0px; margin-top:3px; font-family: 'Eurosti', sans-serif; width:238px; margin:3px 0 0px; text-align: center; text-transform: uppercase; }

		/* Account Panel - Signed In */
		.accountPanel.signedIn{}
		.accountPanel.signedIn h2{margin:0; color:#fff; font-family: 'bankgothiclightbt',sans-serif; font-weight: normal; font-size:16px; border-bottom:1px solid #888; padding:0 0 8px; text-align: center;}
		.accountPanel.signedIn ul{padding:0; margin:0;}
		.accountPanel.signedIn ul li a{display: block; border-top:1px solid #2b3561; padding:8px 10px; color:#fff;}
		.accountPanel.signedIn ul li:first-child a{border-top:none;}
		
		.accountPanel.signedIn ul li a:hover{background:#00cebb;}
		.accountPanel.signedIn{}
		
	.pmnlFloatNav .panelSwitch{text-align: center; width:60px !important; display: block; float:right; position: relative;}
		.panelSwitch.signedIn{width:60px;}
		.panelSwitch a{ background: #00cebb; color:#273565; padding:15px 12px; width:60px; display: block;}
		.panelSwitch a.active{background:rgba(48,51,101,0.9); color:#00cebb;}
			.panelSwitch.signedIn a:first-child{border-right: none;}
		.panelSwitch a:hover{color:#fff;}
		.panelSwitch a.closePanel{position: absolute; top:10px; right: -58px; display: none; width:auto; padding:0; background:none;}
	.pmnlFloatNav{}
	.pmnlFloatNav .panelError{ background:#ff4f4f; width:238px; text-align: center; margin:10px 0;}
	.pmnlFloatNav .panelError p{margin:0; font-size:12px; padding:10px; color:#fff;}
	/*
		Notifications
	*/
	.fullpageNotification{padding:8px 10px; text-align: center; margin-bottom:10px; margin-top:0px;}
	.fullpageNotification h6{margin:0; font-size:1.1em;}
	.fullpageNotification.Error{float:left; background:#ff4f4f; color:#fff;}
	.fullpageNotification.Success{float:left; background:#a1f166; color:#3a5e1f;}

	/*
	|| Branding | Header
	*/
	.pmnlBranding{width:1200px; display:block; float:left; background:url(../images/backgrounds/brandingBG.png) no-repeat; height:113px; padding:25px 50px 0; margin-bottom:0px; position: fixed; z-index: 200;}
	.pmnlBranding h1{float:left; margin:0 20px 0 0;}
	.pmnlBranding nav{}
	.pmnlBranding nav ul{float:left; margin-right: 20px}
	.pmnlBranding nav ul li{display: inline-block; margin:0 40px 0 0;}
	.pmnlBranding nav ul li a{font-size:18px; color:#fff; text-transform: uppercase; text-shadow:0 1px 1px #444;}
	.pmnlBranding nav ul li a:hover{color:#00d8ff;}

		/* Search Bar */
		.pmnlSearch{padding:8px 0 0;}
		.pmnlSearch .tField{width:300px; padding:6px; color:#888; border:1px solid #ccc;}
		.pmnlSearch .tField.active{color:333;}
			.pmnlSearch .tField.error{border:1px solid #d42227;}
		.pmnlSearch .tSubmit{width:21px; height:21px; background:url(../images/icons/search.png) no-repeat transparent; text-indent: -9999px; border:none; margin:3px 5px;}
		.pmnlSearch .tSubmit:hover{background-position: 0 -21px;}

		/* Sticker */
		.stickerPost{background: url(../images/backgrounds/stickerPost.png) no-repeat; width:219px; height: 219px; -moz-box-sizing:border-box; box-sizing:border-box; padding:40px 0; position: absolute; right: 0; top:-20px; text-align: center;}
		.stickerPost h4{margin:50px 0 20px; font-family: 'Eurosti'; color:#fff; text-transform: uppercase;}
		.stickerPost h4 a{display: block; color:#fff; }
		.stickerPost h5, .stickerPost h6{margin:0;  font-weight: normal;}
		.stickerPost h6{text-transform: uppercase;}
		
		.stickerPost .stickies{position:relative;}
		.stickerPost .stickies a{display:block; opacity:0; margin:0; color:#fff; position: absolute; top:-20px; left:57px; width:100px; padding:15px 0 0;}
		.stickerPost .stickies a.active{display:block; opacity: 1;}
	
	/*
	|| Homepage Sections
	*/
		/*
			Banner
		*/
		.homepageBanner{margin:-10px 0 20px; }
		.homepageBanner ul{margin:0; padding:0; height:425px;}
		/*
			Homepage Content
		*/
		.pmnlHomepage h3{color:#3d3a7e; text-transform: uppercase; margin:0;}
		.pmnlHomepage ul, .pmnlFeaturedJobs ul{margin:20px 0; padding:0; text-align: center;}
			.pmnlSearchResults ul{margin:20px 45px; padding:0; text-align: left;}
		.pmnlHomepage ul li, .pmnlFeaturedJobs ul li{display: inline-block; margin:0 10px; padding:0; position: relative;}
			.pmnlSearchResults ul li{display: inline-block; margin:0 5px 10px; padding:0; position: relative;}
		.pmnlHomepage ul li:hover a, .pmnlFeaturedJobs ul li:hover a, .pmnlSearchResults ul li:hover a{display: block;}
		.pmnlHomepage ul li a, .pmnlFeaturedJobs ul li a, .pmnlSearchResults ul li a{display:none;background: rgba(28,175,227,0.8); width:135px; height: 100px; -moz-box-sizing:border-box; box-sizing:border-box; padding:10px; position: absolute; z-index: 20; text-align: left;}
			.pmnlHomepage ul li a h4, .pmnlFeaturedJobs ul li a h4, .pmnlSearchResults ul li a h4{margin:0; font-size:14px; color:#fff;}
			.pmnlHomepage ul li a h5, .pmnlFeaturedJobs ul li a h5, .pmnlSearchResults ul li a h5{margin:0; font-weight: normal; color:#fff;}
			.pmnlHomepage ul li a i, .pmnlFeaturedJobs ul li a i, .pmnlSearchResults ul li a i{background:url(../images/icons/star_white.png) no-repeat; color:#fff; font-style: normal; font-size:12px; padding:0 0 0 20px; position: absolute; bottom:10px;}
			.pmnlHomepage ul li a i:hover, .pmnlFeaturedJobs ul li a i:hover, .pmnlSearchResults ul li a i:hover{text-decoration: underline;}

	/*
	|| Content
	*/
	.pmnlContent{float:left; margin-top:103px; margin-bottom:100px; }
		/* Breadcrumbs */
		.pmnlBreadcrumbs{float:left; margin:-5px 0 0px; padding:5px 10px; position: fixed; z-index: 100; background:#fff; display: block; width:1120px; }
		.pmnlBreadcrumbs li{display: inline-block; text-transform: uppercase; font-size:12px; padding-right: 15px; background:url(../images/icons/rdarrow.png) no-repeat right ; margin-right:5px;}
		.pmnlBreadcrumbs li:last-child{background:none;}
		.pmnlBreadcrumbs li a{text-transform: uppercase;}
		.pmnlBreadcrumbs li a:hover{text-decoration: underline;}

		/* Section Navigation */
		.pmnlSectionNav{background:#c9c8c7; position: fixed; z-index: 100; margin-top:20px;}
			
			/* Profile Management */
			.manageProfile{margin:0; padding:0;}
			.manageProfile li{display: inline-block;}
			.manageProfile li a{display:block;  color:#fff; padding:15px 25px; font-weight: bold; font-size:22px; text-transform: uppercase;}
			.manageProfile li a:hover{background:#8fc2d6;}
			.manageProfile li a.active{background:url(../images/backgrounds/profileManagementBG.png) no-repeat top right #82b4c7; padding-right:51px; margin-right:-26px; margin-left:-5px;}
			.manageProfile li a.disabled{background:transparent; cursor: default;}
			.manageProfile li a.disabled:hover{background:transparent; cursor: default;}
			.manageProfile li:first-child a.active{background:url(../images/backgrounds/profileManagementBG.png) no-repeat top right #82b4c7; padding-right:51px; margin-right:-26px; margin-left:0px;}
			.manageProfile li p{margin:0; font-weight: normal; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size:14px; text-transform: none;}
			
		/* Section Header */
		.pmnlSectionHeader{margin:110px 0 20px;}
		.pmnlSectionHeader.noSectionNav{margin:30px 0 20px;}
		.pmnlSectionHeader h2{text-transform:uppercase;  color:#1dafe2; margin:0; padding:25px 50px; font-size:42px; font-weight: normal;}
		.pmnlSectionHeader h2.twoLiner{padding:0px 50px;}
		.pmnlSectionHeader .rEdge, .pmnlSectionHeader.jobsSection .col_6{border-left:1px solid #efefef;}
			.pmnlSectionHeader.jobsSection .rEdge{border-left:none;}
		.pmnlSectionHeader p{padding:25px 260px 25px 70px; margin:0;}
			.pmnlSectionHeader.jobsSection p{padding:25px 60px 25px 70px; margin:0;}
			.pmnlSectionHeader.jobsSection .col_2 a{background:#00cebb url(../images/icons/user.png) no-repeat 90% 10px; color:#fff; font-family: 'Eurosti'; text-transform: uppercase; display: block; padding:12px 20px 10px; border-radius: 4px; margin:25px 0 0;}
			.pmnlSectionHeader.jobsSection .col_2 a.purchase{display: block; background:#00aeef url(../images/icons/purchase.png) no-repeat 90% 12px; padding:12px 12px 10px; color:#fff; font-family: 'Eurosti'; border-radius: 4px; text-transform: uppercase; }
			.pmnlSectionHeader.jobsSection .col_2 a:hover{background-color:#00dfca;}


		/* Main Content */
		.pmnlMainContent{}
		.pmnlMainContent .leftColumn{background:#eaeae8; padding:30px 0 0; }
			.formRow{border-bottom:1px solid #fff; padding: 30px;}
		.pmnlMainContent .threeEights{}
	


		/* Forms */
		.pmnlForms{}
		.pmnlForms h3{color:#3d3a7e; text-transform: uppercase; margin:0 0 0px;}
		.pmnlForms h4{color:#444;}
		.pmnlForms h4 em{color:#999; font-weight: normal; font-size:14px; font-style: normal;}
		.pmnlForms fieldset{border:none; margin-top:20px; padding:0;}
		.pmnlForms p.ldesc{margin:0; padding:10px 0 0 ; color:#636466;}
			.pmnlForms span p.ldesc{margin:0; padding:0px 0 0 ; color:#636466;}
		.pmnlForms p.ldesc.it{font-style: italic; font-size:12px;}
		
			.formRow .spFF{}
			.formRow .spFF h6{float:left; width:180px; margin:0; background:#fcfcfc; padding:10px; -moz-box-sizing:border-box; box-sizing:border-box; font-family: 'bankgothiclightbt'; font-size:14px; color:#555;}
			.formRow .spFF .tField{width:260px !important;}

			/* Photo Upload */
			.pmnlForms .photoUploader{}
			.pmnlForms .photoUploader label{width:150px; height:150px; background:#fff; color:#1dafe2; font-weight: bold; text-transform: uppercase; float:left; position: relative; z-index:1; text-align: center; padding:60px 20px 0; -moz-box-sizing:border-box; box-sizing:border-box; margin:0 30px 0 0;}
			.pmnlForms .photoUploader .pu{opacity:0; width:150px; height:150px; cursor: pointer; position: absolute; top:0; left:0;}
			
			/* Generic Forms */
			.pmnlForms .formRow span{}
			.pmnlForms .formRow a.addItem{float:right; color:#00aeef; margin-top:-20px; text-transform: uppercase;}
			.pmnlForms .formRow a.addItem.subLink{font-size:12px; text-transform: none; margin:0 0 10px;}
			.pmnlForms .formRow input.tField{width:440px; padding:8px 6px 6px; color:#aaa; border:1px solid #ccc; font-family: 'Eurosti', sans-serif; margin:0 0 20px 0; text-transform: uppercase; outline: none;}

			.pmnlForms .formRow input.tField.active{color:#555; border-color:#555;}
			.pmnlForms .formRow input.tField.error{border:1px solid #d42227;}
				.pmnlForms .formRow input.tField.twoThirds{width:310px;}
				.pmnlForms .formRow input.tField.active{color:#444;}
				.pmnlForms .formRow input.tField.half{width:201px; margin-right:10px;}
			.pmnlForms .formRow select{width:450px; padding:8px 6px 6px; color:#555; border:1px solid #ccc; font-family: 'Eurosti', sans-serif; margin:0 0 20px; text-transform: uppercase;}	
			.pmnlForms .formRow span select{width:auto;}
				.formRow span .timeSpan{float:left; width:226px;}
				.formRow span .timeSpan h4{margin:0 0 5px !important; padding:0; text-transform: uppercase; } 
			.pmnlForms .formRow .submitData{float:right; margin:20px 5px 0 0; border-radius:4px; background:url(../images/icons/check.png) no-repeat 88% center #00aeef; padding:8px 42px 8px 15px; border:none; color:#fff; font-size:20px;}

				/*Edit Form for Album Titles*/	
				.pmnlForms .formRow .titleForm{display: none;}
				.pmnlForms .formRow .titleForm .tField{float:left; margin:10px 0; width:305px;}
				.pmnlForms .formRow .titleForm .submitData{float:left; margin:10px 0 0 10px ; padding:6px 42px 6px 10px;}

				/*Edit Form for Album Items*/
				.pmnlForms .formRow .itemEdit{display:none;}
				.pmnlForms .formRow .itemEdit input{float:left; width:340px; padding:3px; -moz-box-sizing:border-box; box-sizing:border-box; margin:8px 0; border:1px solid #ccc;}
				.pmnlForms .formRow .itemEdit textarea{float:left; width:340px; padding:3px; -moz-box-sizing:border-box; box-sizing:border-box; margin:0px; border:1px solid #ccc;}
				.pmnlForms .formRow .itemEdit button{margin:10px 5px;}


			.pmnlForms .formRow .expPrompt{margin:15px 0 0;}
			.pmnlForms .formRow .expPrompt a{background:#00aeef; color:#fff; padding:7px 11px; font-size:12px;}
			.pmnlForms .formRow .submitData:hover{background:url(../images/icons/check.png) no-repeat 88% center #1bbdfa;}
			.pmnlForms .formRow .submitItem{float:right; margin:0px 0px 10px 0; border-radius:4px; background:#00aeef; padding:8px 15px; border:none; color:#fff; font-size:14px;}
			.pmnlForms .formRow .genericBtn{float:left; margin:20px 10px 10px 0; border-radius:4px; background:#00aeef; padding:8px 15px; border:none; color:#fff; font-size:14px; font-size:20px;}
			.pmnlForms .formRow .submitItem:hover, .pmnlForms .formRow .genericBtn:hover{background: #1bbdfa;}
			/* Adding Item Accordion*/
			.pmnlForms .formRow .addItemFields{float:left; background:#f5f5f5; padding:20px 15px 0; margin-left:-15px; border-radius:6px; box-shadow: 0 3px 0 #ddd; margin-bottom:20px; display:none;}
			.addItemFields textarea{border:1px solid #ccc; margin:0 0 15px; width:454px; -moz-box-sizing:border-box; box-sizing:border-box; outline: none; padding:5px; color:#aaa;}
			.addItemFields textarea.active{color:#444;}


			/* For Checkboxes and Radio Buttons */
			.pmnlForms .formRow .checkNradio{float:left; margin-bottom:25px; width:400px;}
			.pmnlForms .formRow .checkNradio h4, .pmnlForms .formRow span h4{margin:25px 0 10px 5px; font-size:18px; color:#333;}
			.pmnlForms .formRow .checkNradio label{float:left; margin:2px 35px 0 0 ; color:#444;}
			.pmnlForms .formRow .checkNradio ul{margin:0; padding: 0;}
			.pmnlForms .formRow .checkNradio ul li{display: inline-block; margin-bottom:10px;}
			.pmnlForms .formRow .checkNradio ul li label{margin-right: 15px;}
	
			/*
				Listed Info
			*/
			.listedInfo{margin:15px 0; padding:0;}
			.listedInfo li{border-bottom:1px solid #bbb; padding:0 0 15px; margin-bottom:16px;}
			.listedInfo li span h4{margin:0 0 2px !important; padding:0; font-size:18px;}
			.listedInfo li span h5{margin:0 0 2px; font-size:16px; text-transform: uppercase; color:#666;}
			.listedInfo li span p{margin:0 0 3px; color:#666;}
			.listedInfo li nav{float:right; margin:-20px 0 10px;}

			/* Form Error Notifications */
			.errorBox{background:#ff4f4f; padding:12px 15px 10px; border-radius:4px; margin-left:20px; color:#fff;}
			.errorBox h5{margin:0 0 5px;}
			.errorBox ul{margin:0; padding:0 0 0 20px; }
			.errorBox ul li{list-style: square; font-size:12px;}
				.jobsSidebar .errorBox{margin:0; font-size:1.2em;}
				.jobsSidebar .errorBox ul{ margin:0;}
				.jobsSidebar .errorBox ul li{margin:0 0 0 20px;font-size:0.7em;}
	/*
	|| Sidebar
	*/

		/* Profile Management / Progress Sidebar */
		.progressBars{padding:0; margin:30px 0 0; position: relative;}
		.progressBars li{position: relative; display: block; float:left; width:100%; margin-bottom:70px;}
		.progressBars li h5{font-family: 'Eurosti',sans-serif; text-transform: uppercase; font-size:16px; margin:0; color:#453a71;}
		.progressBars li div{display:block; position:absolute; top:25px; width:100%; padding:10px 10px; height:40px; border-radius:3px;}
		.progressBars li div.progress{background:#453a71; z-index:5; color:#fff;}
		.progressBars li div.bg{background:#eaeae8; color:#999; z-index:4;}
		
		/* Portfolio Albums */
		.albumList{float:left; margin:10px 0 0; padding:0; }
		.albumList li{background:#f9f9f9; padding:12px; display: block; border-radius:4px; float:left; width:430px; margin-bottom:8px; box-shadow: 0 3px 0 #dadada;}
		.albumList li.drag_in{background:#cef2ff;}
		.albumList li h4{margin:0 0 2px; border-bottom: 1px solid #eee; padding-bottom: 10px;}
		.albumList li nav{float:right; margin:-27px 0 10px;}
		.albumList li nav a{margin-left:5px;}
		.albumList li ul{margin:0; padding:0; float:left; width:430px;}
		.albumList li ul li{padding:8px 8px 0; background:#fcfcfc; width:412px; border:1px dashed #ddd; margin-bottom:3px; box-shadow: none; display: block; position: relative;}
		.albumList li ul li .cb{position: absolute; top:10px; left:10px;}
		.albumList li ul li img{padding:0px 8px 8px 0; float:left;}
		.albumList li ul li h5{margin:10px 0 0; color:#666;}
		.albumList li ul li p{margin:2px 0 0; font-size:12px; color:#999;}
		.albumList li ul li nav{float:right; margin:-40px -20px 0 0;}
		
		.albumList .albumControls{float:left;padding:6px 0 6px 2px; font-size:12px;  margin-bottom:5px; text-align: center; position: relative; width:430px;}
		.albumList .albumControls a{float:left; background:#00aeef; color:#fff; padding:3px 5px; border-radius: 3px;}
		.albumList .albumControls a.del{ background:#f38484;}
		.albumList .albumControls a:hover{background: #12bbfa;}
		.albumList .albumControls a.del:hover{background: #fb6868;}
		.albumList .albumControls label{position: relative; z-index: 20;}
		.albumList .albumControls input.addAItem{ width:100px; cursor: pointer; margin-top:5px;}
		.albumList .albumControls select{float:left; font-family: Helvetica, sans-serif; text-transform: none; margin:0 8px; padding:1px 3px;}
			.dropZone{float:left; width:430px; text-align:center;border:1px dashed #888; border-radius: 5px; height:40px; padding:25px 0 0px; margin:5px 0; position: relative; background: #eee; font-size:0.8em; z-index: 30;}
			.dropZone i{background:#ddd; padding:4px 8px; border-radius: 4px; font-style: normal; }
			.dropZone input{opacity: 0; z-index:50; width:75px; height:45px; top:0; position: absolute; left:210px; cursor: pointer !important; background:red;}


	/* 
		Job Listings 
	*/

	/* Job Filter */
	.joblistFilter{margin:0; padding:0;}
	.joblistFilter li{display: inline-block; margin:0; padding:0; position: relative; width:200px;}
	.joblistFilter li h3{margin:0 15px; padding:8px 0; font-family: 'Eurosti'; border-bottom:1px solid #bbb; font-size:0.9em;}
	.joblistFilter li a{display: block; padding:15px 50px 15px 30px ; margin:0; color:#fff; font-family: 'Eurosti'; text-transform: uppercase; background:url(../images/icons/arrowdown_white.png) no-repeat  85% 20px;}
	.joblistFilter li a:hover{background:#aaa url(../images/icons/arrowdown_white.png) no-repeat  85% 20px;}
		.joblistFilter li ul{position: absolute; left:-40px; top:-900px; width:inherit;}
		.joblistFilter li ul li{display: block; width: 200px;background:#ccc;}
		.joblistFilter li ul li a{background-image:none !important; padding:5px 30px; display: block; }
	.joblistFilter{}
	.groupScroll{height: 200px; float:left; overflow: none;}

	/* List Filter*/
	.listFilters{padding:20px 50px 10px; ;}
		.col_9 .listFilters{padding:20px 10px 10px; ;}
	.listFilters a{background:#eee url(../images/icons/x.png) no-repeat 90% 7px; padding:5px 30px 5px 10px; }

	/* Featured Jobs */
	.pmnlFeaturedJobs, .pmnlSearchResults{ background: #e9e9e8; padding:10px 0px; margin:0 0 20px;}
	.pmnlFeaturedJobs h3, .pmnlSearchResults h3{text-transform: uppercase; margin-left: 25px;color:#555;}
	.pmnlFeaturedJobs{}

	/* Job Listing */
	.pmnlJobList{}
		.pmnlJobList.postList{background:#eee;}
	.pmnlJobList h3{font-size:1.4em; font-family: 'Eurosti'; margin:0; color:#777; text-transform: uppercase; margin:30px 50px 0px; border-bottom:4px solid #ccc; padding-bottom:10px;}
		.col_9.pmnlJobList h3{margin:30px 10px 0;}
		.pmnlJobList.postList h3{margin:30px 30px 20px; border-bottom:none;}
	.pmnlJobList ul{margin:0; padding:0 50px 40px;}
		.col_9.pmnlJobList ul{margin:0; padding:0 10px 40px;}
		.col_9.pmnlJobList.postList ul{margin:0; padding:20px 30px 20px;}
	.pmnlJobList ul li{padding:20px 0 20px; border-bottom:1px solid #ececec;}
		.pmnlJobList.postList ul li{padding:20px 0 20px; border-bottom:1px solid #ddd;}
	.pmnlJobList ul li:last-child{border-bottom:none;}
	.pmnlJobList ul li h3{font-size:1.2em; font-family: 'Eurosti'; margin:0; color:#777; border-bottom: none; padding:0;}
		.col_9.pmnlJobList ul li h3{font-size:1.2em; font-family: 'Eurosti'; margin:0; color:#777; border-bottom: none; padding:0;}
	.pmnlJobList ul li h3 a{text-transform: uppercase; color:#1cafe3;}
	.pmnlJobList ul li h3 a:hover{color:#317690;}
	.pmnlJobList ul li h3 em{float:right; font-style: normal; font-size:0.9em;}
	.pmnlJobList ul li p{margin:4px 0 0; color:#777;}
	.pmnlJobList ul li p i{margin:0 10px;}

	.pmnlJobList ul li p a.markJob{background: url(../images/icons/jobfave.png) no-repeat 100% 0 ; padding:4px 24px 0px 0; float:right; text-align: right; color:#888;}
	.pmnlJobList ul li p a.jobApplicant{padding:0 0 0 20px; float:right; text-align: right; color:#1cafe3; font-size:0.9em;}
	.pmnlJobList ul li p a.jobApplicant:hover, .pmnlJobList ul li p a.jobApplicant.addedTolist{color:#3d3a7e;}
	.pmnlJobList ul li p a.markJob:hover{background: url(../images/icons/jobfave.png) no-repeat 100% -22px ; color:#333;}
	.pmnlJobList{}

		/*Post List Table*/
		.postList table{margin:20px 30px;}
		.postList table th{color:#777; font-size:0.9em; font-family:'Eurosti'; text-align: left; padding:5px 0 5px 10px;}
		.postList table tr{border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
		.postList table tr:first-child{border-right:none;}
		.postList table td{font-size:0.8em; padding:8px 0 8px 10px; border-left:1px solid #ccc; }
		.postList table td a{color:#1cafe3; font-weight: bold;}
		.postList h3.adApplicants{margin-bottom:-20px; border-bottom:1px solid #ccc;}
		.postList h3.adApplicants a{color:#1cafe3;}
		.postList h3.adApplicants a:hover{color:#3d3a7e;}
		.postList h3.adApplicants em{float:right; font-style: normal; font-size:0.8em;}
		.postList a.applicantPic{float:left; margin-right: 15px;}
		.postList .applicantList{}
		.postList .applicantList li{}
		/* Pagination */
		.postPagination{text-align:center;}
			.pmnlJobList.postList .postPagination{background:#fff; padding:20px 0;}
		.postPagination li{display: inline-block; border-bottom: none !important;}
		.postPagination a{background:#eee; padding:5px 10px;}
		.postPagination a.disabled{background:#fff; cursor: default;}
		.postPagination a.disabled:hover{background:#fff; cursor: default; color:#333;}
		.postPagination a:hover{background:#1cafe3; color:#fff;}

		/* Jobs Sidebar */
		.jobsSidebar{}
		.jobsSidebar h3{font-size:1.2em; color:#00aeef; font-family: 'Eurosti'; text-transform: uppercase; margin:20px 0 10px;}
		.jobsSidebar h4{font-size:1em; color:#777; font-family: 'Eurosti'; text-transform: uppercase; text-align: center;}
			.jobsSidebar.employer h4{text-align: left; margin-bottom:10px;}
		.jobsSidebar .postCount{font-family: 'Eurosti'; margin:0; text-transform: uppercase; border-bottom:1px solid #888; padding:0 0 20px;}
		.jobsSidebar .postCount.notice{border-bottom:none;}
		.jobsSidebar a.buyCredits{display: block; background:#00aeef url(../images/icons/purchase.png) no-repeat 90% 12px; padding:12px 12px 10px; color:#fff; font-family: 'Eurosti'; border-radius: 4px; text-transform: uppercase; margin-right: 50px;}
		.jobsSidebar a.buyCredits:hover{background-color:#00baff;}
		.jobsSidebar ul{margin:20px 0; padding:0;}
		.jobsSidebar ul li{ margin:0 30px 20px 65px; padding:0; position: relative; width:140px;}
		.jobsSidebar ul li:hover a{display: block;}
		.jobsSidebar ul li a{display:none;background: rgba(28,175,227,0.8); width:135px; height: 100px; -moz-box-sizing:border-box; box-sizing:border-box; padding:10px; position: absolute; z-index: 20; text-align: left;}
			.jobsSidebar ul li a h4{margin:0; font-size:14px; color:#fff; text-transform: none; font-family: Helvetica, sans-serif;}
			.jobsSidebar ul li a h5{margin:0; font-weight: normal; color:#fff;}
			.jobsSidebar ul li a i{background:url(../images/icons/star_white.png) no-repeat; color:#fff; font-style: normal; font-size:12px; padding:0 0 0 20px; position: absolute; bottom:10px;}
			.jobsSidebar ul li a i:hover{text-decoration: underline;}
			
		.jobsSidebar .creditPackages{margin:0; text-align: left; border-top:1px dashed #ddd;}
		.jobsSidebar .creditPackages li{margin:0; text-align: left; padding:8px;  border-bottom:1px dashed #ddd; display: block; width: auto;}
		.jobsSidebar .creditPackages li h5{margin:0; font-size:1.2em; font-family: 'Eurosti';}
		.jobsSidebar .creditPackages li p{margin:0; color:#888;}
		.jobsSidebar .creditPackages li a{display: block; background:#00aeef; padding:8px 12px 5px; color:#fff; font-family: 'Eurosti'; border-radius: 4px; text-transform: uppercase; margin:6px 90px 5px 0; position: relative; height: auto; width: auto;}
		.jobsSidebar .creditPackages li a:hover{background-color:#00baff;}

		.jobsSidebar nav{padding:10px 0;}
		.jobsSidebar nav a{display: block; font-family: 'Eurosti'; margin:5px 0 5px 5px; padding:0 0 10px 40px;}
		.jobsSidebar nav a.tip{background: url(../images/icons/tip.png) no-repeat;}
		.jobsSidebar nav a.help{background: url(../images/icons/help.png) no-repeat; padding-top:8px;}
		.jobsSidebar nav a:hover{color:#3d3a7e;}
		
		.jobsSidebar .favored{background:url(../images/icons/jobfave.png) no-repeat; padding:0px 10px 0px 30px; font-family: 'Eurosti'; font-size: 1.1em; margin:150px 0 10px;}
		.jobsSidebar .postSpan{border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:15px 10px;}
		.jobsSidebar .postSpan h6{margin:0 0 3px; font-size:1em; font-family: 'Eurosti'; color:#3d397e; text-transform: uppercase; }
		.jobsSidebar .postSpan h6 em{float:right; font-style: normal; color:#555;}
		.jobsSidebar .edit{display: block; background:#00aeef url(../images/icons/edit.png) no-repeat 10px; padding:8px 12px 5px 34px; color:#fff; font-family: 'Eurosti'; border-radius: 4px; text-transform: uppercase; margin:20px 90px 5px 0; position: relative; height: auto; width: auto;}

		.jobsSidebar select{padding:8px 6px 6px; color:#555; border:1px solid #ccc; font-family: 'Eurosti', sans-serif; margin:0 0 20px; text-transform: uppercase;}
		
	/* Job Purchase */
	.jobpostPurchase{background:#e9e9e8; padding:20px 0; position:relative; z-index: 1;}
	.jobpostPurchase ul{}
	.jobpostPurchase ul li{-moz-box-sizing:border-box; box-sizing:border-box; width:245px; padding:25px; display: inline-block; margin:0 10px;}
	.jobpostPurchase ul li.qp{background:#93dad1; position: relative; }
		/* Drop Shadow Effect */
		.jobpostPurchase ul li.qp:after{z-index: -1; position: absolute; content: ""; bottom: 14px; right: 3px; left: auto; width: 50%; top: 80%; max-width:300px; background: rgba(0,0,0,0); -webkit-box-shadow: 0 18px 10px #999; -moz-box-shadow: 0 18px 10px #999; box-shadow: 0 18px 10px #999; -webkit-transform: rotate(6deg); -moz-transform: rotate(6deg); -o-transform: rotate(6deg); -ms-transform: rotate(6deg); transform: rotate(6deg);}

	.jobpostPurchase ul li h3{color:#3d3a7e; font-family: 'Eurosti'; text-transform: uppercase; margin:0;}
	.jobpostPurchase ul li h4{font-family: 'Eurosti'; font-size:2em;margin:0;}
	.jobpostPurchase ul li a{display: block; background:#00aeef url(../images/icons/purchase.png) no-repeat 90% 12px; padding:12px 12px 10px; color:#fff; font-family: 'Eurosti'; border-radius: 4px; text-transform: uppercase; }
	.jobpostPurchase ul li a:hover{background-color:#00baff;}
	.jobpostPurchase ul li em{font-style: normal; color:#00aeef; font-weight: bold;}
		
		.jobConcierge{}
		.jobConcierge h5{color:#3d3a7e; padding:30px; font-size:1.8em; font-family: 'Eurosti'}
		.jobConcierge h6{color:#00aeef; text-transform: uppercase; font-size:1em; margin:50px 0 0;}
		.jobConcierge p{}
		.jobConcierge a{display: block; background:#00aeef url(../images/icons/email_white.png) no-repeat 90% 12px; padding:12px 12px 10px; color:#fff; font-family: 'Eurosti'; border-radius: 4px; text-transform: uppercase; }
		.jobConcierge a:hover{background-color:#00baff;}
	
	/* Job Posts Single */
	.jobpostSingle{background:#eaeae8; margin-top:100px;}
	.jobpostSingle img{margin:0;}
	.jobpostSingle .postContent{padding:40px 50px 40px;}
	.jobpostSingle .postContent h2{margin:0 0 15px; font-family: 'Eurosti'; text-transform: uppercase; color:#444;}
	.jobpostSingle .postContent a.actionBtn{font-size:1em; background:#00aeef; color:#fff; padding:8px 10px 6px; border-radius: 4px;}
	.jobpostSingle .postContent a.actionBtn:hover{background:#00baff;}
	.jobpostSingle .postContent .postDetails{color:#444; margin:0 0 15px; font-size:0.9em;}
	.jobpostSingle .postContent .postDetails i{margin:0 8px;}
	.jobpostSingle .postContent .postDetails em{float:right; font-style: normal;}
	.jobpostSingle .postContent .postReq{border-top:1px dashed #999; border-bottom:1px dashed #999; margin:0; padding:8px 0;}
	.jobpostSingle .postContent .postDesc{color:#444; margin:20px 0 30px; border-bottom:1px solid #ccc; padding:0 0 20px;}
	.jobpostSingle .postContent{}
	.jobpostSingle{}

	/* Job Posting Purchases */
	.purchaseForm{}

		/* Receipt*/
		.purchaseForm .svp{float:right; }
			.purchaseForm .svp a{margin:0 5px; color:#555;}
			.purchaseForm .svp a:hover{color:#111;}
		.purchaseForm .receiptDetails{margin:10px 0 40px; padding:0;}
		.purchaseForm .receiptDetails.pageTwo{margin:10px 0 20px; padding:0;}
		.purchaseForm .receiptDetails li{margin:4px 0; color:#444;}
		.purchaseForm table{width:100%; margin-bottom:20px;}
		.purchaseForm th{text-align: left; border-bottom:2px solid #ccc; padding-bottom:5px;}
		.purchaseForm th:last-child, .purchaseForm td:last-child{text-align: right;}
		.purchaseForm td{padding:8px 0; border-bottom:1px solid #ccc;}
		.purchaseForm .note{font-size:12px; color:#777; margin:0 0 20px;}
		.purchaseForm .dcCoupon{float:right; margin-top:-40px;}
		.purchaseForm .total{text-align: right; margin-bottom:40px;}
		.purchaseForm .total em{padding:10px; background:#fff; border: 1px dashed #aaa; font-style: normal;}

		.purchaseForm.purchaseLogin{background:#ccc; padding:40px;}
		.purchaseForm.purchaseLogin h4{margin:0 0 30px; text-align:center; color:#333; font-size:18px; text-transform: uppercase; font-family: 'Eurosti';}
		.purchaseForm.purchaseLogin .loginForm{padding:0 20px;}
		.purchaseForm.purchaseLogin .lEdge.loginForm{border-right:1px solid #aaa; padding-right: 50px; margin-left:10px;}
		.purchaseForm.purchaseLogin .loginForm h5{font-size:18px; font-family: 'Eurosti'; text-transform: uppercase; color:#3d3a7e; margin-bottom:10px;}
			.purchaseForm.purchaseLogin .lEdge.loginForm h5{text-align: right;}
		.purchaseForm.purchaseLogin .loginForm input{border-radius: 5px; border:none; font-family: 'Eurosti'; width:280px; padding:12px 8px; margin:0 0 10px;}
		.purchaseForm.purchaseLogin .loginForm button{background:none; border:none; cursor: pointer; width:140px;}
		.purchaseForm.purchaseLogin .rEdge.loginForm button{background:#00cebb url(../images/icons/user.png) no-repeat 90% 10px; padding:12px 50px 10px 12px; text-align: left; color:#fff; border-radius: 5px;}
		.purchaseForm.purchaseLogin .lEdge.loginForm button{background:#00aeef url(../images/icons/next.png) no-repeat 90% 10px; padding:12px 50px 10px 12px; text-align: left; color:#fff; border-radius: 5px; float:right; margin:0 -5px 0 0;}
		.purchaseForm.purchaseLogin{}
		.purchaseForm a.terms{color:#00aeef;}

		/* Fieldsets*/
		.pmnlForms .formRow.purchaseForm h3{margin-bottom:20px;}
		.pmnlForms .formRow.purchaseForm fieldset{ margin-bottom:20px;}
		.pmnlForms .formRow.purchaseForm input.tField{width:350px; margin:0 8px 15px;}
		.pmnlForms .formRow.purchaseForm input.tField.error{border-color:#d42227;}
		.pmnlForms .formRow.purchaseForm input.tField.oneThird{width:200px;}
		.pmnlForms .formRow.purchaseForm input.tField.twoThirds{width:500px;}
		.pmnlForms .formRow.purchaseForm input.tField.full{width:730px;}
		.pmnlForms .formRow.purchaseForm textarea{width:730px; padding:8px 6px 6px; color:#aaa; border:1px solid #ccc; font-family: 'Eurosti', sans-serif; margin:0 8px 20px ; text-transform: uppercase; outline: none; resize:none;}
		.pmnlForms .formRow.purchaseForm textarea.active{color:#333; border-color: #333;}
		
		.pmnlForms .formRow.purchaseForm .checkNradio{width:370px;}
		.pmnlForms .formRow.purchaseForm .checkNradio ul{}
		.pmnlForms .formRow.purchaseForm .checkNradio ul li{width:350px; padding-left:20px;}

		.pmnlForms .formRow.purchaseForm .submitData{margin:15px 0 0;}
		.pmnlForms .formRow.purchaseForm select.full{margin:0 8px 15px; width:742px;}


	/* User Portfolio */
	.userPortfolio{background: #eee; margin-top:30px; padding:30px 30px 10px;}
	.userPortfolio ul{margin:0; padding:0;}
	.userPortfolio .mainItems li{background:#fff; position: relative; padding:0; width:775px; height: auto;}
	.userPortfolio .mainItems li img{text-align: center;}
	.userPortfolio .mainItems li div{padding:20px; bottom:5px; color:#444; text-align: center; width:inherit;}
	.userPortfolio .mainItems li div h2{font-size:1em; font-family: 'Eurosti'; text-transform: uppercase; font-weight: normal; letter-spacing: 0.3em; margin:0 0 5px; }
	.userPortfolio .mainItems li div p{margin:0; font-size:0.8em;}
	.userPortfolio .thumbBatches{height:100px;}
	.userPortfolio .thumbnailBatch{margin:10px 0 0px 3px; height:100px;}
	.userPortfolio .thumbnailBatch li{display: inline-block; margin-right: 3px;}
	.userPortfolio .thumbnailBatch a{opacity: 0.4; z-index: 30;}
	.userPortfolio .thumbnailBatch li.activeItem a{opacity: 1;}
	.userPortfolio .thumbnailBatch a:hover{opacity: 1;}
	.userPortfolio .itemNavigation{position: relative; width:775px; height:100px; margin:20px 0 0 3px;}
	.userPortfolio .itemNavigation a.itemControl{background: rgba(0,0,0,0.15); display:block; height: 60px; width: 40px; padding:30px 0 0 5px; position: absolute; opacity: 0.3; z-index: 50;}
	.userPortfolio .itemNavigation a.itemControl:hover{opacity: 0.6;}
	.userPortfolio .itemNavigation a.nextBatch{right: 6px;}
	.userPortfolio .itemNavigation a.hiddenControl{display:none;}
	.userPortfolio .itemNavigation a:hover{}
	.userPortfolio .itemNavigation{}
	.userPortfolio{}
	.userPortfolio{}

	/* User Resume */

	.resumeOptions{position: fixed; width:170px; top:200px; right:50px; border:1px solid #ccc; padding:20px 20px 10px; border-radius: 3px; box-shadow: 0 3px 10px #ddd;}
	.resumeOptions a{background:#00aeef; display: block; padding:10px 12px 8px; font-family: 'Eurosti'; margin-bottom:10px; color:#fff; text-transform: uppercase; border-radius: 4px;}
	.resumeOptions a:hover{background-color: #00baff;}

	.userResume{padding-top:120px;}
	.userResume h1{font-family: 'Eurosti'; color:#3d3a7e; text-transform: uppercase; margin:0 0 10px; font-size:2.4em;}
	.userResume .userSkills{margin:0; padding:0; font-size:1.1em; color:#aaa;}
	.userResume .userSkills{}

	.resumeHeader{float:left; padding-bottom:50px; border-bottom:1px solid #ddd;}

	.contentRow{float:left; padding:45px 0 0;}
	.contentRow h2{color:#ccc; font-family: 'Eurosti'; font-weight: normal; text-transform: uppercase; margin:0 0 20px;}
	.contentRow h3{color:#444; margin:0;}
	.contentRow h4{color:#aaa;  margin:0;}
	.contentRow p{margin:0; line-height: 1.4em; color:#aaa;}


	.userExperiences{float:left; margin:0; padding:0 0 30px; border-bottom:1px solid #ddd;}
	.userExperiences div{float:left; width:220px; margin-right: 20px;}
	.userExperiences p.jobDescription{float:left; color:#444; width:500px;}
	.userExperiences li{float:left; margin-bottom:20px; }

	.userEducation{float:left; margin:0; padding:0 0 20px; border-bottom:1px solid #ddd;}
	.userEducation li{float:left; width:350px; margin:0 20px 30px 0;}

	.resumeFooter img{float:right; margin:40px 0;}


	.portfolioSidebar{padding:100px 0 0;}
	.portfolioSidebar h3{ color:#3d3a7e; font-family: 'Eurosti'; font-weight:bold; text-transform: uppercase; margin:0 0 15px; border-bottom:1px solid #eee; padding-bottom:6px;}
	.portfolioSidebar .userSkills, .portfolioSidebar .userInfo{margin:0 0 15px; border-bottom:1px solid #eee; padding:0 0 15px 8px;}
	.portfolioSidebar .userSkills li{color:#82b4c7; font-size:0.8em; }
	.portfolioSidebar .userInfo li{color:#444; font-size:0.8em;}
	.portfolioSidebar .actionBtn{background:#00aeef; border-radius:4px; color:#fff; display: block; margin:0 35px 0 5px; padding:10px 15px 8px; font-family: 'Eurosti'; text-transform: uppercase;}
	.portfolioSidebar .actionBtn:hover{background-color:#00baff;}

		.portfolioSidebar nav{padding:10px 0px; border-bottom:1px solid #eee;}
		.portfolioSidebar nav a{display: block; font-family: 'Eurosti'; margin:5px 0 5px 5px; padding:5px 0 10px 40px;}
		.portfolioSidebar nav a.faveUser{background: url(../images/icons/userfave.png) no-repeat;}
		.portfolioSidebar nav a.flagUser{background: url(../images/icons/userflag.png) no-repeat; padding-top:5px;}
		.portfolioSidebar nav a:hover{color:#3d3a7e;}
	
	.portfolioSidebar a.backLink{color:#00aeef; padding:10px 30px; display: block;}

/*		
	Footer
*/
.pmnlFooter{width:1200px; display:block; float:left; background:url(../images/backgrounds/footerBG.png) no-repeat; height:50px; padding:0; position:fixed; bottom:0; z-index: 200;}
.pmnlFooter .leftNav{margin:0; padding:0; float:left;}
	.pmnlFooter .leftNav li{display: inline-block; margin:0; padding:0;}
	.pmnlFooter .leftNav li a{padding:18px 20px; display:block; color:#fff; border-left:1px solid #114776; font-weight: bold; font-size:14px;}
	.pmnlFooter .leftNav li:first-child a{border-left-width: 0px;}
	.pmnlFooter .leftNav a:hover{color:#00d8ff;}
.pmnlFooter .rightNav{margin:0; padding:0; float:right;}
	.pmnlFooter .rightNav li{display: inline-block; margin:0; padding:0;}
	.pmnlFooter .rightNav li a{padding:10px 15px 14px; display:block; color:#fff; font-weight: bold; font-size:14px;}
	.pmnlFooter .rightNav li a.cp{font-size:12px; padding-top:12px;}
	.pmnlFooter .rightNav li a.cp i{font-style:normal; font-weight: normal; color:#017bc8;}


/* Slider */
.bool-slider {border: 1px solid #605e76; color: #FFF; font-size: 18px; font-weight: 800; font-family: 'Eurosti' sans-serif; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); height: 35px; width: 238px; border-radius: 3px; } 
.bool-slider.true .inset {background-color: #00ac9b; *background-color: #499249; background-image: linear-gradient(top, #62c462, #51a351); background-repeat: repeat-x; border-color: #51a351 #51a351 #387038; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background-image: none; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); } 
.bool-slider.true .inset .control{float: left;} 
.bool-slider.true .inset .control:after {content: "Posting\0000a0a\0000a0Job"; position: relative; right: -65px; top: 10%;  width:200px !important; text-transform: lowercase; font-weight: normal;} 
.bool-slider.false .inset {background-color: #49475c; *background-color: #bd362f; background-image: linear-gradient(top, #ee5f5b, #bd362f); background-repeat: repeat-x; border-color: #bd362f #bd362f #802420; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background-image: none; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); } 
.bool-slider.false .inset .control{float: right;} 
.bool-slider.false .inset .control:before {content: 'Create\0000a0a\0000a0Portfolio'; position: relative; left: -160px; top: 10%; text-transform: lowercase; font-weight: normal;} 
.bool-slider .inset {width: 100%; height: 100%; border-radius: 3px; } 
.bool-slider .inset .control {background-color: #000; width: 25px; height: 90%; border-radius: 3px; background-color: #00d6c1; *background-color: #00746b; background-image: linear-gradient(top, #00ffe6, #00746b); background-repeat: repeat-x; margin:2px;} 
.bool-slider .inset .control:hover {cursor: pointer; } 
.bool-slider.disabled {color: #CCC; } 
.bool-slider.disabled .inset {background-color: #f5f5f5; *background-color: #e6e6e6; background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; } 
.bool-slider.disabled .control {cursor: default; }